{% extends 'base.html' %}
{% block title_text %}Projects{% endblock %}

{% block header_text %}Create a new project{% endblock %}
{% block content %}

<form method="POST" action="{% url 'new_project' %}">{% csrf_token %}
    <fieldset class="form-group">
       {{ form.title }}
        {% if error %}
        <div class="form-group has-error">
            <span class="help-block">{{ error }}</span>
            </div>
        {% endif %}
        </fieldset>

    <fieldset class="form-group">
        {{ form.description }}
    </fieldset>

    <fieldset class="form-group">
        {{ form.release_date}}
    </fieldset>

    <fieldset class="form-group">
       {{ form.identifier }}
    </fieldset>

     <button type="submit" name="submit" id="id_submit" class="btn btn-primary">Submit</button>

</form>

<table class="table table-striped" id="id_list_projects">
    {% for project in projects %}
    <tr><td><a href="/projects/{{project.identifier}}/" >{{project.title}}</a></td></tr>
    {% endfor %}
</table>
{% endblock %}