{% extends 'base.html' %}
{% block title_text %}Projects{% endblock %}

{% block header_text %}Create a new project{% endblock %}
{% block content %}

<form method="POST">{% csrf_token %}
    <input name="title" id="id_title" placeholder="Enter a projects title" required/>
    <input name="description" id="id_description" placeholder="Enter a projects description" required>
    <input name="release_date" id="id_release_date" placeholder="Enter a projects release date" required>
    <input name="identifier" id="id_identifier" placeholder="Enter a projects identifier" required>
    <input type="submit" name="submit" id="id_submit" value="Submit">
</form>
<table id="id_list_projects">
    {% for project in projects %}
    <tr><td><a href="/projects/{{project.identifier}}/" >{{project.title}}</a></td></tr>
    {% endfor %}
</table>
{% endblock %}