<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<h2>Create a new project</h2>
<form method="POST">{% csrf_token %}
    <input name="title" id="id_title" placeholder="Enter a projects title" required/>
    <input name="description" id="id_description" placeholder="Enter a projects description" required>
    <input name="release_date" id="id_release_date" placeholder="Enter a projects release date" required>
    <input name="identifier" id="id_identifier" placeholder="Enter a projects identifier" required>
    <input type="submit" name="submit" id="id_submit" value="Submit">
</form>
</body>
</html>