{% extends 'base.html' %}

{% block title_text %}{{ title }}{% endblock %}
{% block header_text %}{{ title }}{% endblock %}

{% block content %}
    <h2>Create a User Story</h2>

    <form method="POST" action="{% url 'new_us' project_id %}" class="form-inline">{% csrf_token %}
         <div class="form-group">
             {{ form.title }}
              {% if form.errors %}
        <div class="form-group has-error">
            <div class="help-block">{{ form.title.errors }}</div>
         </div>
        {% endif %}
            </div>
        <div class="form-group">
            {{ form.estimate_time }}
             {% if form.errors %}
        <div class="form-group has-error">
            <div class="help-block">{{ form.estimate_time.errors }}</div>
         </div>
        {% endif %}
        </div>
        <button type="submit" name="submit" id="id_submit" class="btn btn-primary">Submit</button>
    </form>
<table class="table" id="id_list_user_stories">
    {% for us in us_stories %}
    <tr><td>{{us.title}}</td></tr>
    {% endfor %}
</table>
{% endblock %}